{{ define "file_rows" }}
{{ range .Folders }}
<tr onclick="location.href='/files/{{ .Path }}'">
    <td>
        <div>
            <i class="material-icons">folder</i>
            <span>{{ .Name }}</span>
        </div>
    </td>
    <td>
        {{ formatSmart .CreatedAt }}
    </td>
    <td>—</td>
</tr>
{{ end }}

{{ range .Files }}
<tr onclick="window.open('/download/{{ .Id }}', '_blank')">
    <td>
        <div>
            <i class="material-icons">description</i>
            <span>{{ .Name }}</span>
        </div>
    </td>
    <td>
        {{ formatSmart .CreatedAt }}
    </td>
    <td>{{ humanReadableSize .Size }}</td>
</tr>
{{ end }}
{{ end }}
