<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Go-Cloud</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>

<body class="register-body">
    {{ template "header" . }}
    <form class="register-form" hx-post="/register" hx-target="#register-error" hx-swap="innerHTML">

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required/>
        </div>

        <div id="register-error" class="alert alert-error"></div>
        <button type="submit">Register</button>
    </form>
    {{ template "footer" . }}
</body>
</html>
