{{ template "header.html" . }}

<div class="bg-white p-8 rounded-xl border-gray-200 border-2 max-w-md w-full">
    <h2 class="mb-6 text-center text-xl font-semibold text-gray-800">Enter password for {{.LinkName}}</h2>
    <form action="/links/{{.LinkToken}}/auth" method="post">
        <label for="password" class="block mb-2 font-bold text-gray-600">Password</label>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
                class="focus:ring-0 w-full p-3 mb-4 border border-gray-200 rounded-md text-base box-border"
        />

        <button
                type="submit"
                class="w-full py-3 mt- 4 bg-brand-500 hover:bg-brand-700 text-white text-base rounded-md transition"
        >
            Submit
        </button>
    </form>
</div>

{{ template "footer.html" . }}
