<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Go-Cloud</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>

<body class="files-body">
{{ template "header" . }}

<main>
        <div id="share-list">
            <table>
                <thead>
                <tr>
                    <th class="share-name-col">Name</th>
                    <th class="desktop-only">Uploaded</th>
                    <th class="desktop-only">Size</th>
                    <th class="desktop-only">Shared By</th>
                    <th class="desktop-only">Permission</th>
                    <th class="share-expires-col">Expires at</th>
                </tr>
                </thead>
                <tbody id="share-list-body">
                {{ range .Files }}
                <tr class="share-list-item" onclick="window.open('/download/{{ .ID }}', '_blank')">
                    <td class="share-name-col">
                        <div>
                            <i class="material-icons">description</i>
                            <span>{{ .Name }}</span>
                        </div>
                    </td>
                    <td class="desktop-only">
                        {{ formatSmart .CreatedAt }}
                    </td>
                    <td class="desktop-only">{{ humanReadableSize .Size }}</td>
                    <td class="desktop-only">{{ .SharedByName }} </td>
                    <td class="desktop-only">{{ .Permission }} </td>
                    <td class="share-expires-col">{{ formatSmartNullable .ExpiresAt }} </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
</main>
{{ template "footer" . }}
</body>
</html>