<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Go-Cloud</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>

<body class="files-body">
{{ template "header" . }}

<main>
    <div id="share-list">
        <table>
            <thead>
            <tr>
                <th class="primary-field">Name</th>
                <th class=>Uploaded</th>
                <th class=>Size</th>
                <th class=>Shared By</th>
                <th class=>Permission</th>
                <th class="mobile-visible">Expires at</th>
            </tr>
            </thead>
            <tbody id="share-list-body">
            {{ range .Files }}
            <tr class="share-list-item" onclick="window.open('/download/{{ .ID }}', '_blank')">
                <td class="primary-field">
                    <div>
                        <i class="material-icons">description</i>
                        <span>{{ .Name }}</span>
                    </div>
                </td>
                <td>{{ formatSmart .CreatedAt }}</td>
                <td>{{ humanReadableSize .Size }}</td>
                <td>{{ .SharedByName }}</td>
                <td>{{ .Permission }}</td>
                <td class="mobile-visible">{{ formatSmartNullable .ExpiresAt }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</main>

{{ template "footer" . }}
</body>
</html>