:root {
    --color-brand-50: #ffe6ff;
    --color-brand-100: #ffc3ff;
    --color-brand-200: #ff9fff;
    --color-brand-300: #ff7cff;
    --color-brand-400: #ff58ff;
    --color-brand-500: #ff00ff;
    /* base */
    --color-brand-600: #e600e6;
    --color-brand-700: #cc00cc;
    --color-brand-800: #b300b3;
    --color-brand-900: #990099;

    --color-bg: #f9fafb;
    --color-surface: #ffffff;
    --color-border: #e5e7eb;
    --color-text: hsl(220, 15%, 15%);
    --color-muted: hsl(220, 10%, 45%);

    --color-success: #16a34a;
    --color-error: #dc2626;
    --color-warning: #f59e0b;

    --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    --radius: 0.5rem;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --max-width: 60rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    color: var(--color-text);
    background: white;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-text);
    margin: 1.5rem 0 0.5rem;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
    color: var(--color-muted);
}

form input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 2px solid var(--color-border);
    border-radius: var(--radius);
    font-size: 1rem;
}

form input:focus {
    border-color: var(--color-brand-500);
    outline: none;
}

/* Components */
.main-btn {
    background-color: var(--color-brand-500);
    padding: 0.75rem 1rem;
    border-radius: var(--radius);
}

/* Custom stuff */

.header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    line-height: calc(2 / 1.5);
    font-weight: bold;
    color: var(--color-brand-500);
    padding-left: 0.75rem;
}

.login-link {
    color: white;
}

.register-link {
    color: var(--color-brand-500);
    padding: 0.75rem 1rem;
}

.login-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-form {
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

.alert:empty {
    display: none;
}

.alert:not(:empty) {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 0.9rem;
}

.alert-error {
    color: var(--color-error) !important;
}

.alert:not(:empty) p {
    margin: 0;
    padding: 0;
}

.login-form div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--color-muted);
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-brand-500);
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
}

.login-form button:hover {
    background-color: var(--color-brand-600);
}