<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Go-Cloud</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>
<body class="text-gray-800 flex flex-col h-full font-sans antialiased">

<header class="mx-16 p-4 flex items-center justify-between z-10 text-lg">
    <a href="/" class="text-2xl font-bold text-brand-500 hover:underline transition">CloudApp</a>

    {{ if .IsAuthenticated }}
    <nav class="flex-grow flex justify-center">
        <ul class="flex space-x-8">
            <li><a href="/static" class="text-gray-700 hover:text-brand-500 font-medium py-2 px-3 transition">Home</a></li>
            <li><a href="/files" class="text-gray-700 hover:text-brand-500 font-medium py-2 px-3 transition">Personal Files</a></li>
            <li><a href="/shares" class="text-gray-700 hover:text-brand-500 font-medium py-2 px-3 transition">Shares</a></li>
        </ul>
    </nav>

    <div class="flex flex-row">
            <button class="cursor-pointer flex items-center space-x-2 text-gray-700 hover:text-brand-500 rounded-md py-1 px-2 transition">
                <span class="font-medium hidden sm:inline">Profile</span>
            </button>
            <form action="/logout" method="post" class="inline m-0 p-0">
                <button type="submit" class="cursor-pointer flex items-center space-x-2 text-gray-700 hover:text-brand-500 py-1 px-2 transition">
                    <span class="font-medium hidden sm:inline">Logout</span>
                </button>
            </form>
    </div>

    {{ else }}
    <div class="ml-auto flex items-center space-x-4">
        <a href="/login" class="text-brand-500 hover:text-brand-700 font-medium py-2 px-3 rounded-md transition">Login</a>
        <a href="/register" class="bg-brand-500 hover:bg-brand-700 text-white py-2 px-4 rounded-md transition">Register</a>
    </div>
    {{ end }}
</header>

<main class="flex-grow flex justify-center items-center p-4">