{{ template "header.html" . }}

<div class="bg-white p-8 rounded-xl shadow-md max-w-md w-full">
    <h2 class="mb-6 text-center text-xl font-semibold text-gray-700">Enter password for {{.LinkName}}</h2>
    <form action="/links/{{.LinkToken}}/auth" method="post">
        <label for="password" class="block mb-2 font-bold">Password</label>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
                class="w-full p-3 mb-4 border border-gray-300 rounded-md text-base box-border"
        />

        <button
                type="submit"
                class="w-full py-3 bg-blue-500 hover:bg-blue-600 text-white text-base rounded-md transition"
        >
            Submit
        </button>
    </form>
</div>

{{ template "footer.html" . }}
