{{ template "header.html" . }}

<div class="container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required />

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a href="/login">Login here</a>
    </p>
</div>

{{ template "footer.html" . }}
